* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#map {
  /* align-items: center; */
  height: 100%;
  width: 100%;
  /* border-bottom: 1px solid #212121;
  border-radius: 1%; */
}
